

<div class="row">
    <div class="col-12">
        <h1>Welcome to formContact App</h1>
    </div>
    <div class="col mt-3">
        <h3>Informations</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, architecto. Totam molestias sapiente cumque possimus repellat nulla odit voluptates maxime consequuntur dolores non error quia, explicabo, obcaecati impedit accusantium ab repudiandae optio sit nobis natus corporis earum. Labore, molestias harum modi ratione at, eveniet iste ducimus, excepturi dolor sed optio.</p>
    </div>
</div>



<div class="row mt-3 mb-2 justify-content-center">
    <div class="col-6">
        <label class="form-label fw-bold fs-5">What's your name?</label>
        <input  type="text" 
                class="form-control" 
                placeholder="Name..." 
                #inputName
        >
        <div class="row mt-3">
            <div class="col">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-primary" type="button" (click)="singIn()">Next</button>
                </div>
            </div>
        </div>      
    </div>
</div>






