
<form>

    <!-- First Name and Last Name -->
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col">
            <div class="col">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>
    </div>

    <!-- Company -->
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Company">
        </div>
    </div>

    <!-- Address -->
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Address">
        </div>
    </div>

    <!-- Email and Phone -->
    <div class="row mb-3">
        <div class="col">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Phone">
        </div>
    </div>

    <!-- Additional Information -->
    <div class="row mb-3">
        <div class="col">
            <textarea class="form-control" rows="4" placeholder="Additional information"></textarea>
        </div>
    </div>

    <!-- Button Submit -->    
    <div class="d-grid">
        <button type="button" class="btn btn-primary"> Submit </button>
    </div>
    
  
    

</form>
